<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} | %-5p - %m%n</pattern>
		</encoder>
	</appender>

	<root level="ALL">
		<appender-ref ref="stdout" />
	</root>

	<logger name="org.springframework" level="OFF" />
	<logger name="org.jboss" level="OFF" />
	<logger name="org.eclipse" level="OFF" />
	<logger name="org.hibernate" level="OFF" />
	<logger name="org.glassfish" level="OFF" />
	<logger name="com.zaxxer" level="OFF" />

</configuration>